/*! Css Imports */
@import "./reset.css";
@import "./fonts.css";
@import "./footer.css";

/*! Css Variables */
:root {
  --white: #ffff;
  --black: black;
  --gray: #3f3f3f;
}

/*! Container Size */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/** Main Section Styles */
.main {
  background-color: #eff7fa;
}

/** Path Section Styles */

.path-text {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  display: inline-block;
  margin-top: 2rem;
}

/** Main Section Styles */

/* * About Us Section Styles */
.about-us{
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.about-us__wrapper{
  display: flex;
  flex-direction: column;
}

.about-us-image{
  width: 100%;
}

.about-us__texts{
  margin-top: 1rem;
}
.about-us-text{
  font-family: 'inter-regular', Courier, monospace;
  line-height: 1.4rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.about-us__texts-title{
  font-size: 1.4rem;
  font-family: 'inter-bold', Courier, monospace;
  margin-bottom: 1rem;

}