/*! Css Imports */
@import "./reset.css";
@import "./fonts.css";
@import "./footer.css";

/*! Css Variables */
:root {
  --white: #ffff;
  --black: black;
  --gray: #3f3f3f;
}

/*! Container Size */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/** Main Section Styles */
.main {
  background-color: #eff7fa;
}

/** Path Section Styles */

.path-text {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  display: inline-block;
  margin-top: 2rem;
}


/* ! Aside Menu Section Styles */
.aside-menu__link svg {
  width: 2rem;
  height: 2rem;
  color: var(--black);
  margin-right: 1rem;
  transition: all 140ms ease-in;
}

.aside-menu {
  width: 20%;
  background-color: var(--white);
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.aside-menu__list {
  display: flex;
  flex-direction: column;
}

.aside-menu__item {
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: all 140ms ease-in;
  border-radius: 1rem;
}

.aside-menu__item:hover {
  background-color: var(--black);
}

.aside-menu__item:hover .aside-menu__link svg {
  color: var(--white);
}

.aside-menu__item:hover .aside-menu__link {
  color: var(--white);
}

.aside-menu__link {
  display: flex;
  align-items: center;
  color: #8b8e99;
  font-family: "inter-bold", Courier, monospace;
  margin-left: 1rem;
}


/** Account Section Styles */
.account{
  margin-top: 2rem;
}

.account__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.account-details {
  width: 80%;
  margin-left: 8rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
}

.account-details-title{
  font-size: 1.2rem;
  font-family: "inter-bold", Courier, monospace;
  text-transform: uppercase;
  border-bottom: 2px solid #E4E7E9;
  width: 100%;
  display: block;
  padding-bottom: 1rem;
}

.account-details-box{
  display: flex;
  /* align-items: center; */
}


.account-details-box-right__form{
  display: flex;
  flex-direction: column;
}

.account-details-box-right__form-row1,.account-details-box-right__form-row2 ,.account-details-box-right__form-row3 ,.account-details-box-right__form-row4{
  display: flex;
  justify-content: space-around;
  text-align: center;
}



.form-label{
  font-size: 1.2rem;
  font-family: "inter-regular", Courier, monospace;
  display: block;
  margin-top: 1rem;
}

input{
  padding: 1rem 4rem;
  margin-right: 1.4rem;
  border: 2px solid #E4E7E9;
  outline: none;
  text-align: center;
  font-size: 1rem;
  font-family: "inter-light", Courier, monospace;
  border-radius: 1rem;
  transition: all 140ms ease-in;
}

input::placeholder{
  font-family: "inter-regular", Courier, monospace;
}

input:focus{
  border: 2px solid var(--black);
  transform: scale(1.1);

}

.account-details-box-right__form-country,.account-details-box-right__form-states{
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border: 2px solid #E4E7E9;
  outline: none;
  margin-right: 1rem;
}

.account-details-box-right__form-row4__pin input {
  padding: 1rem 1rem;
  
}

.account-details-box-right__form-btn{
  width: 12rem;
  height: 4rem;
  margin-top: 2rem;
  border-radius: 1rem;
  font-family: "inter-bold", Courier, monospace;
  font-size: 1.2rem;
  background-color: var(--black);
  color: var(--white);

}