/*! Css Imports */
@import "./reset.css";
@import "./fonts.css";
@import "./footer.css";

/*! Css Variables */
:root {
  --white: #ffff;
  --black: black;
  --gray: #3f3f3f;
}

/*! Container Size */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/** Path Section Styles */

.path-text {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/** Main Info Section Styles */
.main-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.main-info-title {
  font-size: 1.2rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 0.5rem;
}

.main-info-author {
  font-size: 1rem;
  font-family: "inter-light", Courier, monospace;
}

.main-info-image {
  width: 100%;
  margin-top: 1rem;
}

.main-info-texts {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.main-info-text-title {
  font-size: 1.2rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 0.2rem;
}

.main-info-text {
  font-size: 1rem;
  font-family: "inter-regular", Courier, monospace;
  line-height: 1.2rem;
  text-align: justify;
  margin-bottom: 1.4rem;
}

.main-info-like-comment {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-info-like-comment-box,
.main-info-like-like-box {
  display: flex;
  align-items: center;
}

.main-info-like-like-box span svg,
.main-info-like-comment span svg {
  width: 2rem;
  height: 2rem;
}

.main-info-like-text,
.main-info-comment-text {
  font-size: 1rem;
  font-family: "inter-bold", Courier, monospace;
  margin-left: 1rem;
}

.main-info-line{
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
}

.main-info-line-svg{
  width: 100%;
}
