/*! Css Imports */
@import "./reset.css";
@import "./fonts.css";
@import "./footer.css";

/*! Css Variables */
:root {
  --white: #ffff;
  --black: black;
  --gray: #3f3f3f;
}

/*! Container Size */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/** Main Section Styles */
.main {
  background-color: #eff7fa;
}
.content__wrapper {
  display: flex;
  flex-direction: row-reverse;
  /* align-items: center; */
}

/** Path Section Styles */

.path-text {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  display: inline-block;
  margin-top: 2rem;
}

/** Main Content Section Styles */
.main-content {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.main-content__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-content__box {
  /* background-color: red; */
  width: 25rem;
}

.main-content__box-image {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.main-content__box-date {
  display: flex;
  align-items: center;
  height: 2.5rem;
}

.main-content__box-date-time {
  display: flex;
  justify-content: space-between;
  margin-left: 0.4rem;
}

.main-content__box-date-text {
  font-size: 1rem;
  font-family: "inter-light", Courier, monospace;
  color: #9e9e9e;
}

.main-content__box-date-icon svg,
.main-content__box-time-icon svg {
  width: 1.8rem;
  height: 1.8rem;
  color: #9e9e9e;
}

.main-content__box-time {
  display: flex;
  align-items: center;
  margin-right: 0.4rem;
}

.main-content__box-time-text {
  font-size: 1rem;
  font-family: "inter-light", Courier, monospace;
  color: #9e9e9e;
}

.main-content__box-title {
  display: inline-block;
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 1rem;
}

.main-content__box-text {
  font-size: 1rem;
  font-family: "inter-light", Courier, monospace;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.main-content__box-link {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  background-color: var(--gray);
  color: var(--white);
  padding: 1rem;
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  /* display: none; */
  transition: all 200ms ease-in;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* .main-content__box:hover .main-content__box-link {
  display: block;
  transition: all 200ms ease-in;
} */

.main-content2 {
  width: 100%;
}

.main-content__box2 {
  display: flex;
  height: 12rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.main-content__box2:nth-child(5) {
  margin-top: 10rem;
}
.main-content__box2-left {
  width: 40%;
}

.main-content__box2-left-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.main-content__box2-right {
  margin-left: 1rem;
  margin-top: 1rem;
}

.main-content__box2-right-title {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
}

.main-content__box2-right-text {
  margin-top: 1rem;
  font-family: "inter-light", Courier, monospace;
  width: 34rem;
  line-height: 1.2rem;
}

.main-content__box2-right-date {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: #9e9e9e;
}

.main-content__box2-right-date-icon svg {
  width: 2rem;
  height: 2rem;
  color: #9e9e9e;
}

/** Aside Content Section Styles */

.aside-content__wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.aside-content {
  width: 30%;
  margin-top: 1rem;
}

.aside-content__box {
  position: relative;
  background-color: red;
  width: 25rem;
  width: 100%;
  height: 14rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.aside-content__box-image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.aside-content__box-link {
  position: absolute;
  left: 11rem;
  top: 5rem;
  opacity: 0;
  transition: all 140ms ease-in;
}

.aside-content__box:hover .aside-content__box-link {
  opacity: 1;
}

.aside-content__box-link svg {
  width: 4.8rem;
  height: 4.8rem;
  color: var(--white);
}

.aside-content__box-info {
  /* background-color: red; */
  text-align: center;
}

.aside-content__box {
  position: relative;
}

.aside-content__box-info {
  backdrop-filter: blur(20px);
  height: 3.4rem;
  line-height: 3.4rem;
  width: 4rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.aside-content__box-info-text {
  font-family: "inter-regular", Courier, monospace;
  padding: 1rem;
  width: 100%;
  height: 4rem;
  color: var(--white);
}
