/*! ====================================Css Imports==================================== */
@import "./reset.css";
@import "./fonts.css";
@import "./footer.css";

/*! ====================================Css Variables==================================== */
:root {
  --white: #ffff;
  --black: black;
  --gray: #3f3f3f;
}

/*! ====================================Container Size ====================================*/
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/** ====================================Path Section Styles ====================================*/
.path-text {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/** ==================================Main Info Section Styles ==================================*/
.main {
  background-color: #eff7fa;
  padding-bottom: 4rem;
}
.main-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.main-info-title {
  font-size: 1.2rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 0.5rem;
}

.main-info-author {
  font-size: 1rem;
  font-family: "inter-light", Courier, monospace;
}

.main-info-image {
  width: 100%;
  margin-top: 1rem;
}

.main-info-texts {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.main-info-text-title {
  font-size: 1.2rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 0.2rem;
}

.main-info-text {
  font-size: 1rem;
  font-family: "inter-regular", Courier, monospace;
  line-height: 1.2rem;
  text-align: justify;
  margin-bottom: 1.4rem;
}

.main-info-like-comment {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-info-like-comment-box,
.main-info-like-like-box {
  display: flex;
  align-items: center;
}

.main-info-like-like-box span svg,
.main-info-like-comment span svg {
  width: 2rem;
  height: 2rem;
}

.main-info-like-text,
.main-info-comment-text {
  font-size: 1rem;
  font-family: "inter-bold", Courier, monospace;
  margin-left: 1rem;
}

.main-info-line {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
}

.main-info-line-svg {
  width: 100%;
}

/** ==================================Comments Section Styles ==================================*/

.comments__wrapper {
  display: flex;
  flex-direction: column;
}

.comments-title {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 2rem;
}

.comment {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.comment-top {
  display: flex;
  align-items: center;
}

.comment-top-texts {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.comment-top-texts-name {
  font-size: 1.1rem;
  font-family: "inter-bold", Courier, monospace;
}

.comment-top-texts-date {
  font-size: 1rem;
  font-family: "inter-regular", Courier, monospace;
  margin-top: 0.5rem;
}

.comment-text {
  margin-top: 1rem;
}

.comment-text-info {
  font-size: 1.2rem;
  font-family: "inter-light", Courier, monospace;
  text-align: justify;
  line-height: 1.4rem;
}

.comment-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.comment-bottom__bottom-like-icon svg,
.comment-bottom__top-icon svg,
.comment-bottom__bottom-dislike-icon svg {
  width: 2rem;
  height: 2rem;
}

.comment-bottom__top {
  display: flex;
  align-content: center;
}

.comment-bottom__top-text {
  font-size: 1.1rem;
  font-family: "inter-bold", Courier, monospace;
}

.comment-bottom__bottom {
  display: flex;
  align-items: center;
}

.comment-bottom__bottom-like,
.comment-bottom__bottom-dislike {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.comment-bottom__bottom-number,
.comment-bottom__bottom-dislike-number {
  font-family: "inter-bold", Courier, monospace;
  margin-left: 0.5rem;
}

.comment-bottom__bottom-dislike {
  margin-left: 1rem;
}

/** ================================Write Comment Section Styles ================================*/

.write-comment-title {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 2rem;
}

.write-comment-form {
  width: 100%;
}
.write-comment-textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--white);
  resize: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-family: "inter-regular", Courier, monospace;
}

.write-comment-textarea::placeholder {
  font-family: "inter-regular", Courier, monospace;
}

.write-comment-btn {
  border: none;
  outline: none;
  width: 12rem;
  height: 3.4rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-right: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: "inter-bold", Courier, monospace;
  border-radius: 1rem;
  cursor: pointer;
}
