/*! Css Imports */
@import "./reset.css";
@import "./fonts.css";
@import "./footer.css";

/*! Css Variables */
:root {
  --white: #ffff;
  --black: black;
  --gray: #3f3f3f;
}

/*! Container Size */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/** Main Section Styles */
.main {
  background-color: #eff7fa;
}
.content__wrapper {
  display: flex;
  flex-direction: row-reverse;
  /* align-items: center; */
}

/** Path Section Styles */

.path-text {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  display: inline-block;
  margin-top: 2rem;
}

/** Main Section Styles */

/** Cart Section Styles */
.cart{
  margin-bottom: 8rem;
  padding-bottom: 8rem;
}
.cart__left{
  width: 70%;
}
.cart-title{
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.cart-title-info{
  font-size: 2rem;
  font-family: "inter-bold", Courier, monospace;
}

.cart-title-number{
  font-size: 1.2rem;
  font-family: "inter-bold", Courier, monospace;
  color: var(--gray);
  opacity: 0.8;
  margin-left: 1rem;
}

.cart__box{
  display: flex;
  /* justify-content: space-between; */
  /* align-items: start; */
  border-bottom: 2px solid var(--gray);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

/*! Cart Left Section */

.cart__box-left img{
  width: 10rem;
}

.cart__box-right{
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.cart__box-right-name{
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
}

.cart__box-right--info{
  font-size: 1rem;
  font-family: "inter-light", Courier, monospace;
  margin-top: 1rem;
  width: 34rem;
  line-height: 1.4rem;

}

.cart__box-right-price{
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.cart__box-right-price-left{
  display: flex;
  align-items: center;
}

.cart__box-right-price-left-cart-counter{
  width: 12rem;
  border: 2px solid #A2A3B1;
  display: flex;
  justify-content: space-around;
  /* border-radius: 1rem; */
  border-radius: 0.2rem;
}


.cart__box-right-price-left-cart-counter button{
  height: 2.8rem;
  width: 4rem;
  font-size: 1.4rem;
  background-color: #EFF7FA;
  border: none;
  outline: none;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.cart__box-right-price-left-cart-counter input{
  text-align: center;
  width: 7rem;
  background-color: #EFF7FA;
  border: none;
  outline: none;
}


.cart__box-right-price-left-empty{
  border: 2px solid #A2A3B1;

  border-radius: 0.2rem;
  margin-left: 1rem;
}

.cart__box-right-price-left-empty svg{
  width: 2.8rem;
  height: 2.8rem;
}


.cart__box-right-price-right{
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
}

.cart__box-right-price-right-title{
  font-size: 1.2rem;
  font-family: "inter-regular", Courier, monospace;  
}

.cart__box-right-price-right-totalprice{
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace; 
  margin-top: 0.5rem; 
}

/*! Cart Right Section */
.cart__wrapper{
  display: flex;
}
.cart__right{
  width: 30%;
  background-color: var(--white);
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.cart__right__wrapper{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.cart__right-title{
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace; 
}

.cart__right-price ,.cart__right-discount ,.cart__right-shipping ,.cart__right-coupon-applied{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.cart__right-price span ,.cart__right-discount span , .cart__right-shipping span ,.cart__right-coupon-applied span{
  font-size: 1.2rem;
  font-family: "inter-regular", Courier, monospace; 
}

.cart__right-line{
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.cart__right-total{
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-top: 1rem;
  font-family: "inter-bold", Courier, monospace; 

}

.cart__right-delivary{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-family: "inter-regular", Courier, monospace; 
}

.cart__right-copoun-code{
  display: flex;
  /* justify-content: space-between; */
  margin: 0 auto;
  margin-top: 1rem;
}

.cart__right-copoun-code-btn {
  background-color: var(--black);
  width: 4rem;
  cursor: pointer;
}
.cart__right-copoun-code-btn svg{
  width: 2rem;
  height: 2rem;
  color: var(--white);
}

.cart__right-copoun-code input {
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border: 2px solid #EDEDF0;
}

.cart__right-copoun-code input::placeholder{
  font-size: 1.2rem;
  color: #A2A3B1
}

.cart__right-checkout{
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.cart__right-checkout-btn{
  width: 24rem;
  height: 4rem;
  font-size: 1.4rem;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  border-radius: 0.5rem;
}