/*! ====================================Css Imports==================================== */
@import "./reset.css";
@import "./fonts.css";
@import "./footer.css";

/*! ====================================Css Variables==================================== */
:root {
  --white: #ffff;
  --black: black;
  --gray: #3f3f3f;
}

/*! ====================================Container Size ====================================*/
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/** ====================================Path Section Styles ====================================*/
.path-text {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  display: inline-block;
  margin-top: 2rem;
}

/** ====================================Main Section Styles ====================================*/
.main {
  background-color: #eff7fa;
}
.dashboard {
  margin-top: 2rem;
  padding-bottom: 10rem;
}

.dashboard__wrapper {
  display: flex;
  justify-content: space-between;
}

/** ================================Aside Menu Section Styles ================================*/
.aside-menu__link svg {
  width: 2rem;
  height: 2rem;
  color: var(--black);
  margin-right: 1rem;
  transition: all 140ms ease-in;
}

.aside-menu {
  width: 20%;
  background-color: var(--white);
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.dashboard-info {
  width: 80%;
}

.aside-menu__list {
  display: flex;
  flex-direction: column;
}

.aside-menu__item {
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: all 140ms ease-in;
  border-radius: 1rem;
}

.aside-menu__item:hover {
  background-color: var(--black);
}

.aside-menu__item:hover .aside-menu__link svg {
  color: var(--white);
}

.aside-menu__item:hover .aside-menu__link {
  color: var(--white);
}

.aside-menu__link {
  display: flex;
  align-items: center;
  color: #8b8e99;
  font-family: "inter-bold", Courier, monospace;
  margin-left: 1rem;
}

/** ==============================Dashboard Info Section Styles ==============================*/
.main {
  background-color: #eff7fa;
}

/*! Dashboard Info Orders  Styles */
.dashboard-info__orders {
  display: flex;
  justify-content: space-around;
}

.dashboard-info__orders-box {
  display: flex;
  align-content: center;
  padding: 1rem 4rem;
}

.dashboard-info__orders-box:nth-child(1) {
  background-color: #addeff6d;
  border: 1px solid #2da5f3;
}

.dashboard-info__orders-box:nth-child(2) {
  background-color: #ffc8a44d;
  border: 1px solid #fa8232;
}
.dashboard-info__orders-box:nth-child(3) {
  background-color: #97ff8f63;
  border: 1px solid #2db224;
}

.dashboard-info__orders-box:nth-child(1) .dashboard-info__orders-box-left svg {
  color: #2da5f3;
}

.dashboard-info__orders-box:nth-child(2) .dashboard-info__orders-box-left svg {
  color: #fa8232;
}

.dashboard-info__orders-box:nth-child(3) .dashboard-info__orders-box-left svg {
  color: #2db224;
}

.dashboard-info__orders-box-left svg {
  width: 2.5rem;
  height: 2.5rem;
}

.dashboard-info__orders-box-left {
  background-color: var(--white);
  padding: 0.5rem;
  margin-right: 1rem;
}
.dashboard-info__orders-box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-info__orders-box-right-number {
  font-size: 1.2rem;
  font-family: "inter-bold", Courier, monospace;
}

.dashboard-info__orders-box-right-text {
  font-size: 1rem;
  font-family: "inter-regular", Courier, monospace;
  margin-top: 1rem;
}

/** ============================Dashboard Info user Section Styles ============================*/
.dashboard-info__user {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 1rem;
}

.dashboard-info__user-name {
  font-size: 1.2rem;
  font-family: "inter-bold", Courier, monospace;
}

.dashboard-info__user-text {
  font-family: "inter-regular", Courier, monospace;
  margin-top: 1rem;
  line-height: 1.2rem;
}

.dashboard-info__user-text a {
  color: #2da5f3;
}

/** ============================Dashboard Info Boxes Section Styles ============================*/

.dashboard-info-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

/** ========================Dashboard Info Box Account Section Styles ========================*/
.dashboard-info-boxes__account {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
}

.dashboard-info-boxes__account-title {
  font-size: 1rem;
  font-family: "inter-bold", Courier, monospace;
  text-transform: uppercase;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e4e7e9;
}

.dashboard-info-boxes__account-profile {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.dashboard-info-boxes__account-profile-username {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.dashboard-info-boxes__account-profile-username-name {
  font-family: "inter-bold", Courier, monospace;
}

.dashboard-info-boxes__account-profile-username-location {
  font-family: "inter-regular", Courier, monospace;
  margin-top: 0.5rem;
  color: #5f6c72;
}

.dashboard-info-boxes__account-more-info {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.dashboard-info-boxes__account-more-info-email {
  font-family: "inter-regular", Courier, monospace;
}
.dashboard-info-boxes__account-more-info-phone {
  font-family: "inter-regular", Courier, monospace;
  margin-top: 0.5rem;
}

.dashboard-info-boxes__account-more-info-edit {
  border: 2px solid var(--black);
  width: 10rem;
  text-align: center;
  padding: 1.4rem 1rem;
  margin-top: 3.4rem;
  border-radius: 1rem;
  font-family: "inter-bold", Courier, monospace;
  color: var(--black);
  transition: all 140ms ease-in;
}

.dashboard-info-boxes__account-more-info-edit:hover{
  background-color: var(--black);
  color: var(--white);
}

/** ========================Dashboard Info Box Address Section Styles ========================*/
.dashboard-info-boxes__address {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
}

.dashboard-info-boxes__address-title {
  font-size: 1rem;
  font-family: "inter-bold", Courier, monospace;
  text-transform: uppercase;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e4e7e9;
}

.dashboard-info-boxes__address-infos {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.dashboard-info-boxes__address-infos-name {
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 0.5rem;
}

.dashboard-info-boxes__address-infos-text,
.dashboard-info-boxes__address-infos-text,
.dashboard-info-boxes__address-infos-phone,
.dashboard-info-boxes__address-infos-email {
  font-family: "inter-regular", Courier, monospace;
  margin-bottom: 0.5rem;
}

.dashboard-info-boxes__address-infos-change {
  border: 2px solid var(--black);
  width: 10rem;
  text-align: center;
  padding: 1.4rem 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  font-family: "inter-bold", Courier, monospace;
  color: var(--black);
}

.dashboard-info-boxes__address-infos-change:hover{
  background-color: var(--black);
  color: var(--white);
}
