/** ==============================Footer Styles Section Styles ==============================*/
.footer-top {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.footer-top__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.footer-top__wrapper div span {
  font-size: 1.1rem;
  font-family: "inter-regular", Courier, monospace;
}

.footer-top__wrapper div ul {
  margin-top: 1rem;
}

.footer-top__wrapper div ul li {
  margin-bottom: 1rem;
  text-align: center;

  border-radius: 1rem;
}

.footer-top__wrapper div ul li a {
  color: var(--black);
  font-family: "inter-light", Courier, monospace;
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  transition: all 200ms ease-in;
}

.footer-top__wrapper div ul li a:hover {
  background-color: var(--gray);
  color: var(--white);
}

.footer-top__col5 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-top__col5-input {
  padding: 1rem 2rem;
  font-family: "inter-light", Courier, monospace;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--black);
  color: var(--black);
  font-size: 1.2rem;
}

.footer-top__col5-input::placeholder {
  color: var(--black);
  font-family: "inter-light", Courier, monospace;
}

.footer-top__col6-link {
  padding: 1rem 2rem;
  background-color: var(--black);
  color: var(--white);
  font-family: "inter-light", Courier, monospace;
}

.footer-bottom {
  background-color: var(--black);
  height: 2rem;
  text-align: center;
  padding-top: 1rem;
}

.footer-bottom-text {
  font-size: 1rem;
  color: var(--white);
  font-family: "inter-bold", Courier, monospace;
}
