/*! Css Imports */
@import './reset.css';
@import './fonts.css';

/*! Css Variables */
:root{
    --white:#ffff;
    --black:black;
    --gray:#3F3F3F;
    
}

/*! Container Size */
.container {
    max-width: 1400px;
    margin: 0 auto;
}

/*! ===============Header Section Styles=============== */

/** Navbar Logo And SearchBox Styles */
.header{
    background-color: var(--black);
    height: 44rem;
}
.header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__list-item{
    margin-right: 2.5rem;
}

.navbar__list-link{
    color: var(--white);
    font-family: 'kanit-regular', Courier, monospace;

}

.search-icons{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.search-icons__input-svg,.search-icons__basket-svg,.search-icons__user-svg{
    color: var(--white);
    width: 1.4rem;
    height: 1.4rem;
}


.search-icons__input{
    background-color: var(--gray);
    padding: 0.8rem 2.5rem;
    border-radius: 2rem;
    color: var(--white);
    /* font-size: 1rem; */
    border: none;
    outline: none;
    margin-right: 1rem;
}
.search-icons__input::placeholder{
    color: var(--white);
    padding: 1rem;
    font-family: 'kanit-light', Courier, monospace;
}


.search-icons__searchbox{
    position: relative;
}

.search-icons__input-svg{
    position: absolute;
    left: 0.5rem;
    top: 0.6rem;
    cursor: pointer;
}

.search-icons__basket,.search-icons__user{
    background-color: var(--gray);
    padding: 0.5rem;
    border-radius: 50%;
}

.search-icons__basket{
    margin-right: 1rem;
    margin-left: 1rem;

}

.search-icons__user{
    margin-left: 1rem;
}


/** Landing Section Styles */

.landing__image{
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    transition: all 200ms ease-in;
    animation-name: changeImageScale;
    animation-duration:2.8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    
}

@keyframes changeImageScale {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
  }

.landing__wrapper{
    position: relative;
}

.landing__info{
    position: absolute;
    top: 4rem;
}

.landing__title{
    color: var(--white);
    font-size: 4.5rem;
    font-family: 'inter-light', Courier, monospace;
    text-shadow: 5px 2px 2px rgba(41, 41, 41, 1);
}


.landing__text{
    display: inline-block;
    color: var(--white);
    font-size: 1.5rem;
    font-family: 'inter-regular', Courier, monospace;
    margin-top: 1rem;
}