/*! Css Imports */
@import './reset.css';
@import './fonts.css';

/*! Css Variables */
:root{
    --white:#ffff;
    --black:black;
    --gray:#3F3F3F;
    
}

/*! Container Size */
.container {
    max-width: 1400px;
    margin: 0 auto;
}
/** Mobile Menu Section Styles */

.mobile-menu{
    display: none;
    z-index: 100;
    position: absolute;
    width: 100%;
}

.mobile-menu__wrapper{
    background-color: var(--gray);
}

.mobile-menu__list{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mobile-menu-item{
    margin-bottom: 1rem;
    /* margin-top: 1rem; */
    transition: all 200ms ease-in;
    padding: 1rem;
}

.mobile-menu-item:hover{
    background-color: var(--black);
}

.mobile-menu-item:hover .mobile-menu-link{
    text-shadow: 3px 1px 0px rgba(128, 128, 128, 1);

}

.mobile-menu-link{
    color: #fff;
    font-size: 1.2rem;
    font-family: 'inter-regular', Courier, monospace;
    transition: all 200ms ease-in;
}

.mobile-menu__btn{
    background-color: var(--gray);
    padding: 0.5rem;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.mobile-menu__btn-svg{
    font-size: 2rem;
    width: 1.4rem;
    height: 1.4rem;
    color: #fff;
}