/*! ====================================Css Imports==================================== */
@import "./reset.css";
@import "./fonts.css";
@import "./footer.css";

/*! ====================================Css Variables==================================== */
:root {
  --white: #ffff;
  --black: black;
  --gray: #3f3f3f;
}

/*! ====================================Container Size ====================================*/
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/** ====================================Main Section Styles ====================================*/
.main {
  background-color: #eff7fa;
}
/** ====================================Path Section Styles ====================================*/

.path-text {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  display: inline-block;
  margin-top: 2rem;
}

/** ================================Product Box Section Styles ================================*/

.product-box__wrapper {
  display: flex;
}

.product-box__left {
  width: 50%;
}

.product-box__left-image{
  transition: all 140ms ease-in;
}

.product-box__left-image:hover{
  transform: scale(1.1);
}

.product-box__left-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.product-box__left-images-gallery img {
  width: 8rem;
  height: 8rem;
}

.product-box__left-images-arrow svg {
  width: 2.5rem;
  height: 2.5rem;
}

.product-box__right-name {
  font-size: 2rem;
  font-family: "inter-bold", Courier, monospace;
}

.product-box__right-description {
  margin-top: 1rem;
  line-height: 1.8rem;
  font-family: "inter-regular", Courier, monospace;
}

.product-box__right-line {
  margin-top: 4rem;
  display: block;
}

.product-box__right-price {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.product-box__right-org-discount {
  display: flex;
  flex-direction: column;
}

.product-box__right-price-star {
  display: flex;
  align-items: center;
}
.product-box__right-price-star-icon svg {
  width: 4rem;
  height: 4rem;
  color: gold;
  fill: gold;
  margin-right: 0.5rem;
}

.product-box__right-price-star-text {
  font-size: 1.8rem;
  font-family: "inter-bold", Courier, monospace;
}

.product-box__right-org-price {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  font-family: "inter-regular", Courier, monospace;
  text-decoration: line-through;
}

.product-box__right-discount-price {
  font-size: 1.8rem;
  font-family: "inter-bold", Courier, monospace;
}

.product-box__right-add-to-cart {
  display: flex;
  margin-top: 4rem;
  align-items: center;
  align-items: center;
}

.product-box__right-add-to-cart-counter {
  display: flex;
}

.product-box__right-add-to-cart-counter button:nth-child(1) {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  outline: none;
  background-color: var(--white);
  height: 4rem;
  cursor: pointer;
}
.product-box__right-add-to-cart-counter button:nth-child(3) {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: none;
  outline: none;
  background-color: var(--white);
  height: 4rem;
  cursor: pointer;
}

.product-box__right-add-to-cart-btn {
  margin-left: 1rem;
}

.product-box__right-add-to-cart-counter input {
  text-align: center;
  width: 6rem;
  background-color: var(--white);
  border: none;
  outline: none;
  font-size: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-box__right-add-to-cart-btn button {
  width: 20rem;
  height: 4rem;
}

.product-box__right-add-to-cart-btn button svg {
  width: 2rem;
  height: 2rem;
  color: var(--white);
  fill: var(--white);
}

.product-box__right-add-to-cart-btn button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

/** ================================Tab Nvigator Section Styles ================================*/

.tab-navigation {
  margin-top: 4rem;
}
.tab {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  color: var(--white);
  border-bottom: 2px solid var(--gray);
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20rem;
  transition: 0.3s;
  font-family: "inter-bold", Courier, monospace;
  font-size: 1.2rem;
}

.tab button:hover {
  background-color: var(--gray);
}

.tab button.active {
  background-color: var(--black);
  color: var(--white);
  border-bottom: 4px solid black;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 14rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-family: "inter-regular", Courier, monospace;
  line-height: 1.4rem;
}

.tabcontent {
  animation: fadeEffect 1s; 
}


@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.information-item {
  margin-bottom: 1rem;
  font-family: "inter-regular", Courier, monospace;
  position: relative;
  padding-left: 1.2rem;
  display: flex;
  align-items: center;
}

.information-item svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

/** ====================================Rating Section Styles ====================================*/

.rating {
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  padding-top: 2rem;
}
.rating-title {
  background-color: var(--white);
  padding: 1rem 2.5rem;
  border-bottom: 4px solid black;
  font-family: "inter-bold", Courier, monospace;
  font-size: 1.2rem;
}

.rating__wrapper {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid var(--gray);
  margin-top: 1.2rem;
}

.rating__left-rate {
  display: flex;
  align-items: center;
  font-size: 4rem;
  font-family: "inter-bold", Courier, monospace;
}
.rating__left-rate svg {
  width: 8rem;
  height: 8rem;
  color: gold;
  fill: gold;
}

.rating__left-rate-info {
  font-size: 1.4rem;
  font-family: "inter-regular", Courier, monospace;
}

.rating__right {
  display: flex;
  flex-direction: column;
}

.rating__right-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rating__right-score-star {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
}

.rating__right-score-star svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  color: gold;
  fill: gold;
}

.rating__right-progress-bar {
  width: 16rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: var(--white);
}

.rating__right-progress-bar-percent {
  background-color: green;
  width: 5rem;
  height: 1rem;
  border-radius: 1rem;
}

.rating__right-score:nth-child(1)
  .rating__right-progress-bar
  .rating__right-progress-bar-percent {
  width: 16rem;
}
.rating__right-score:nth-child(2)
  .rating__right-progress-bar
  .rating__right-progress-bar-percent {
  width: 14rem;
}
.rating__right-score:nth-child(3)
  .rating__right-progress-bar
  .rating__right-progress-bar-percent {
  width: 12rem;
}
.rating__right-score:nth-child(4)
  .rating__right-progress-bar
  .rating__right-progress-bar-percent {
  width: 8rem;
}
.rating__right-score:nth-child(5)
  .rating__right-progress-bar
  .rating__right-progress-bar-percent {
  width: 4rem;
}

/** ==================================FeedBack Section Styles ==================================*/

.feedback {
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}
.feedback-title {
  background-color: var(--white);
  padding: 1rem 2.5rem;
  border-bottom: 4px solid black;
  font-family: "inter-bold", Courier, monospace;
  font-size: 1.2rem;
}

.feedback__wrapper {
  border-top: 2px solid var(--gray);
  margin-top: 1.2rem;
}
.feedback__box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding-bottom: 2rem;
}
.feedback__box-top {
  display: flex;
  align-items: center;
}

.feedback__box-top-right {
  margin-left: 1rem;
}
.feedback__box-top-right-top {
  display: flex;
}

.feedback__box-top-right-top-name {
  font-size: 1rem;
  font-family: "inter-bold", Courier, monospace;
}

.feedback__box-top-right-top-time {
  font-size: 1rem;
  font-family: "inter-regular", Courier, monospace;
  color: var(--gray);
  margin-left: 1rem;
}

.feedback__box-top-right-bottom {
  margin-top: 0.5rem;
}

.feedback__box-top-right-bottom svg {
  width: 1.4rem;
  height: 1.4rem;
  color: gold;
  fill: gold;
}

.feedback__box-bottom {
  margin-top: 1rem;
}

.feedback__box-bottom-text {
  font-family: "inter-regular", Courier, monospace;
}
