/*! Resposive Media Queries */

/* *  ------------------------1400px------------------------ */
@media screen and (max-width: 1400px) {
  .search-icons {
    margin-right: 1rem;
  }
  .account__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .aside-menu {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .aside-menu__wrapper {
    /* display: flex; */
    flex-direction: row;
    text-align: center;
  }
  .aside-menu__item {
    /* width: 100%; */
    /* padding-right: 10rem;
    padding-left: 10rem; */
    margin: 0 auto;
    padding: 1rem;
  }

  .account-details {
    display: block;
    margin: 0 auto;
  }

  .account-details-title {
    text-align: center;
  }
  .account-details-box {
    flex-direction: column;
  }
  .account-details-box-left-img {
    display: block;
    margin: 0 auto;
  }
  .account-details-box-right__form-btn {
    margin: 0 auto;
    margin-top: 4rem;
  }

  .account-details-box-right__form-row1,
  .account-details-box-right__form-row2,
  .account-details-box-right__form-row3,
  .account-details-box-right__form-row4 {
    flex-direction: column;
  }

  .main-info-image {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 1rem;
  }

  .main-info-text {
    width: 70rem;
    display: block;
    margin: 0 auto;
  }
  .main-info-text-title {
    text-align: center;
    margin-top: 1rem;
  }
  .path-text {
    margin-left: 2rem;
  }
  .main-info-title,
  .main-info-author {
    display: block;
    text-align: center;
  }

  .comment {
    margin-right: 1.4rem;
    margin-left: 1.4rem;
  }

  .comments-title {
    margin-left: 1.4rem;
  }

  .write-comment-form {
    margin-right: 2rem;
    margin-left: 2rem;
    display: block;
    margin: 0 auto;
    width: 88%;
  }
  .write-comment-title {
    margin-left: 1.4rem;
  }

  .dashboard__wrapper {
    flex-direction: column;
  }

  .dashboard-info {
    width: 100%;
  }
  .dashboard-info__orders {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .address__wrapper {
    flex-direction: column;
  }
  .shipping-address {
    margin: 0 auto;
  }

  .shipping-address-btn,
  .address-modal__form-btn {
    margin: 0 auto;
  }

  .address-modal {
    margin: 0 auto;
  }




  .products__wrapper {
    flex-direction: column;
  }

  .aside-menu__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
  }

  .aside-menu{
    width: 80%;
    height: auto;
    padding: 4rem;
  }

  .aside-menu__button{
    height: 5rem;
  }


  .products-box{
    margin: 0 auto;
    width: 80%;
  }
}

/* *  ------------------------1280px------------------------ */
@media screen and (max-width: 1280px) {
  .cart__left {
    margin-right: 2rem;
  }
  .cart__right {
    margin-left: 2rem;
  }
}

/* *  ------------------------1255px------------------------ */
@media screen and (max-width: 1255px) {
  .cart__wrapper {
    flex-direction: column;
  }
  .cart__right {
    /* display: block; */
    margin: 0 auto;
    width: 40rem;
    margin-bottom: 4rem;
  }
  .cart__left {
    margin: 0 auto;
  }
  .cart-title-info {
    margin-left: 2rem;
  }

  .cart__box {
    /* width: 50rem; */
    flex-direction: column;
  }
  .cart__box-left img {
    display: block;
    margin: 0 auto;
  }
  .cart__box-right-name,
  .cart__box-right--info {
    /* text-align: center; */
    display: block;
    margin: 0 auto;
  }




  .products-list__wrapper{
    justify-content: space-around;
  }

  .products-list {

    height: 100rem;
  
  }
}

/* *  ------------------------1230px------------------------ */

@media screen and (max-width: 1230px) {
  .main__cards-wrapper {
    flex-direction: column-reverse;
  }
  .card__right {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .card__left {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .card__right-image {
    width: 22rem;
    height: auto;
  }
  .card__right {
    width: 88%;
  }
  .card__left-1,
  .card__left-2 {
    width: 88%;
  }
}

/* *  ------------------------1200px------------------------ */
@media screen and (max-width: 1200px) {
  .new-arrival__wrapper {
    flex-wrap: wrap;
  }
  .new-arrival__left {
    width: 80%;
    margin-bottom: 2rem;
  }
  .new-arrival__right {
    width: 100%;
    margin-right: 2rem;
  }
  .new-arrival-title {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

/* *  ------------------------1140px------------------------ */
@media screen and (max-width: 1140px) {
  .expreience__wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .expreience__right {
    display: block;
    margin: 0 auto;
  }
  .expreience__left {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .expreience {
    height: 50rem;
  }

  .contact__wrapper {
    flex-wrap: wrap;
  }
  .contact__left {
    display: block;
    margin: 0 auto;
    align-items: center;
    width: 75%;
    margin-bottom: 2rem;
  }
  .path {
    margin-left: 1rem;
  }
  .contact__right-form-tag input:nth-child(3) {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .contact__right-btn {
    margin: 0 auto;
    margin-top: 2rem;
  }
  .contact__right {
    display: block;
    margin: 0 auto;
  }

  .about-us-text,
  .about-us__texts-title {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .about-us-image {
    width: 88%;
    display: block;
    margin: 0 auto;
  }
  .aside-content__box-info {
    line-height: 1.2rem;
  }

  .main-info-text {
    width: 58rem;
  }

  .product-box__wrapper {
    flex-direction: column;
  }

  .product-box__left {
    width: 100%;
  }

  .product-box__left-image {
    display: block;
    margin: 0 auto;
  }

  .product-box__right {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .product-box__right-name {
    text-align: center;
    display: block;
  }

  .product-box__right-description {
    text-align: center;
  }

  .product-box__right-price {
    justify-content: space-around;
  }

  .product-box__right-add-to-cart {
    justify-content: space-around;
  }

  .tab {
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .information-item,
  .tabcontent {
    display: block;
    text-align: center;
  }

  .rating-title {
    display: block;
    width: 14rem;
    margin: 0 auto;
    text-align: center;
  }
  .rating__wrapper {
    margin-top: 0;
  }

  .feedback__box {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .feedback-title {
    display: block;
    width: 14rem;
    margin: 0 auto;
    text-align: center;
  }

  .feedback__wrapper {
    margin-top: 0;
  }

  .product-box__right-line svg {
    display: block;
    margin: 0 auto;
    width: 30rem;
  }
}

/* *  ------------------------980px------------------------ */
@media screen and (max-width: 980px) {
  .footer-top__col5-input {
    width: 18rem;
  }
  .footer-top__col5-title {
    word-wrap: break-word;
  }

  .footer-top__wrapper {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .card__right-info-title {
    font-size: 3.2rem;
  }
  .card__right-info-subtitle {
    font-size: 2rem;
  }

  .news-title {
    display: block;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    margin-top: 8rem;
  }

  .address-modal__form-row1 {
    flex-direction: column;
  }

  .address-modal__form-row1-username input,
  .address-modal__form-row1-lastname input,
  .address-modal__form-row1-company input {
    width: 100%;
  }
}

/* *  ------------------------945px------------------------ */
@media screen and (max-width: 945px) {
  .main-info-text {
    width: 50rem;
  }
}

/* *  ------------------------940px------------------------ */
@media screen and (max-width: 940px) {
  .aside-content__wrapper {
    margin-right: 2rem;
  }
}

/* *  ------------------------910px------------------------ */
@media screen and (max-width: 910px) {
  .services {
    height: 16rem;
  }
}

/* *  ------------------------900px------------------------ */
@media screen and (max-width: 900px) {
  .navbar__list {
    display: none;
  }
  .header__wrapper {
    flex-direction: column;
  }
  .search-icons {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .mobile-menu__btn {
    display: block;
  }
  .header-changes {
    height: 10rem;
  }

  .header {
    height: 12rem;
  }
  .search-icons__user {
    display: none;
  }
  .card__right-image {
    width: 20rem;
  }
}

/* *  ------------------------925px------------------------ */
@media screen and (max-width: 925px) {
}
/* *  ------------------------880px------------------------ */
@media screen and (max-width: 880px) {
  .content__wrapper {
    flex-direction: column;
  }

  .aside-content {
    width: 100%;
    /* height: 70rem; */
  }
  .aside-content__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .aside-content__box {
    width: 20rem;
  }

  .aside-content__box-link {
    left: 8rem;
  }

  .main-content {
    display: block;
    margin: 0 auto;
  }

  .products-box{
    height: 210rem;
  }

  .products-list{
    height: 180rem;
  }
}

/* *  ------------------------840px------------------------ */
@media screen and (max-width: 840px) {
  .main-info-text {
    width: 48rem;
  }

  .dashboard-info__orders {
    flex-direction: column;
  }
  .dashboard-info__orders-box {
    width: 30rem;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-around;
  }
}

/* *  ------------------------805px------------------------ */
@media screen and (max-width: 805px) {
  .card__right-info-title {
    font-size: 2.2rem;
  }
  .card__right-info-subtitle {
    font-size: 1.2rem;
  }
  .main-info-text {
    width: 38rem;
  }

  .cart__box-right-price {
    flex-direction: column;
    align-items: center;
  }
  .cart__box-right-price-right {
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .tab {
    flex-direction: column;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }

  .tab button {
    padding-left: 20rem;
  }

  .rating__left-rate svg {
    width: 4rem;
    height: 4rem;
  }

  .rating__left-rate {
    font-size: 2rem;
  }

  .rating__wrapper {
    flex-direction: column;
  }

  .rating__left {
    width: 20rem;
    /* display: block; */
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .rating__left-rate {
    width: 7rem;
    margin: 0 auto;
  }


  .aside-menu{
    height: 44rem;
    width: 70%;
  }

.products-header{
  height: auto;
}
  .products-header__wrapper{
    flex-wrap: wrap;
  }

  .products-header-left,.products-header-right{
    margin: 0 auto;
    margin-top: 1rem;
  }
}

/* *  ------------------------740px------------------------ */
@media screen and (max-width: 740px) {
  .contact__right-form-tag input {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .contact__right {
    padding-bottom: 4rem;
  }

  .cart__box-right--info {
    width: 25rem;
  }

  .cart__right {
    width: 30rem;
  }

  .tab button {
    padding-left: 18rem;
  }

  .address-modal__form-row3 {
    flex-direction: column;
  }

  .address-modal__form-row3-country select,
  .address-modal__form-row3-region select,
  .address-modal__form-row3-city select {
    width: 20rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .address-modal__form-row3-zipcode input {
    width: 100%;
  }
}

/* *  ------------------------688px------------------------ */
@media screen and (max-width: 680px) {
  .aside-content__box {
    width: 28rem;
  }
  .aside-content__box-link {
    left: 12rem;
  }

  .tab button {
    padding-left: 17rem;
  }



  .aside-menu__wrapper{
    align-items: center;
  }
  .aside-menu-title{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .aside-menu__category,.price-period,.aside-menu__brand-menu{
    margin: 0 auto;
    margin-top: 2rem;
  }

  .aside-menu{
    height: 54rem;
  }

  .aside-menu__button{
    padding: 1 5rem;
  }
}

/* *  ------------------------660px------------------------ */
@media screen and (max-width: 660px) {
  .signup__box {
    width: 34rem;
  }
  .signup__box input {
    width: 22rem;
  }
  .login__box {
    width: 30rem;
  }
  .login__box-form div input {
    width: 20rem;
  }
  .login__box-form-line::before {
    width: 4rem;
    right: 7rem;
  }
  .login__box-form-line::after {
    width: 4rem;
    left: 7rem;
  }

  .expreience__left-timer {
    flex-wrap: wrap;
  }

  .dashboard-info__orders-box {
    width: 20rem;
  }

  .tab button {
    padding-left: 16rem;
  }

  .address-modal__form-row4 {
    flex-direction: column;
  }
  .address-modal__form-row4-email input,
  .address-modal__form-row4-phone input {
    width: 100%;
  }
}

/* *  ------------------------635px------------------------ */
@media screen and (max-width: 635px) {
  .tab button {
    padding-left: 14rem;
  }


  .aside-menu__rating{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    margin-left: 4rem;
  }
  .aside-menu__discount{
    display: block;
    margin: 0 auto;
  }

  .aside-menu{
    height: 65rem;
  }

}

/* *  ------------------------620px------------------------ */
@media screen and (max-width: 620px) {
  .services {
    height: 40rem;
  }
  .new-arrival__left-image {
    width: 22rem;
  }
  .main-info-text {
    width: 30rem;
  }

  .dashboard-info-boxes {
    flex-direction: column;
  }
  .dashboard-info-boxes__account,
  .dashboard-info-boxes__address {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .dashboard-info__user-name,
  .dashboard-info__user-text {
    text-align: center;
  }
  .dashboard-info-boxes__account,
  .dashboard-info-boxes__address {
    width: 30rem;
  }
  .dashboard-info-boxes__account-more-info-phone,
  .dashboard-info-boxes__account-more-info-email,
  .dashboard-info-boxes__address-infos {
    text-align: center;
  }
  .dashboard-info-boxes__account-profile {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .dashboard-info-boxes__account-more-info-edit,
  .dashboard-info-boxes__address-infos-change {
    margin: 0 auto;
    margin-top: 2rem;
  }

  .product-box__left-image {
    width: 20rem;
  }
  .product-box__left-images-gallery img {
    width: 5rem;
    height: auto;
  }

  .product-box__right-add-to-cart {
    flex-direction: column;
  }

  .product-box__right-add-to-cart-counter {
    margin-bottom: 1rem;
  }

  .product-box__right-name {
    font-size: 1.4rem;
  }

  .tab button {
    padding-left: 13rem;
  }
}

/* *  ------------------------610px------------------------ */
@media screen and (max-width: 610px) {
  .tab button {
    padding-left: 7rem;
  }
}

/* *  ------------------------572px------------------------ */
@media screen and (max-width: 572px) {
  .card__right-info-title {
    font-size: 1.2rem;
  }
  .card__right-info-subtitle {
    font: 0.8rem;
  }
  .recommended {
    margin-top: 28rem;
  }

  .cart__box-right--info {
    width: 18rem;
  }

  .cart__right {
    width: 24rem;
  }

  .tab button {
    padding-left: 12rem;
  }
}

/* *  ------------------------560px------------------------ */
@media screen and (max-width: 560px) {
  .signup__box {
    width: 28rem;
    left: 45%;
  }
  .signup__box input {
    width: 18rem;
  }
  .signup__box {
    margin-left: 1rem;
  }

  .footer-top__wrapper div {
    margin-bottom: 2rem;
  }
  .signup__box-login-link {
    width: 14rem;
  }

  .tab button {
    padding-left: 10rem;
  }
}

/* *  ------------------------540px------------------------ */
@media screen and (max-width: 540px) {
  .signup__box {
    left: 42%;
  }
  .footer-top__col5-input {
    display: block;
    margin: 0 auto;
  }
  .footer-top__col5 {
    width: 100%;
    text-align: center;
  }

  .footer-top__col4,
  .footer-top__col6 {
    width: 100%;
    text-align: center;
  }

  .dashboard-info-boxes__account,
  .dashboard-info-boxes__address {
    width: 24rem;
  }

  .tab button {
    padding-left: 9rem;
  }

  .aside-menu{
    width: 60%;
  }

  .price-period__wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .price-period-input{
    margin-bottom: 1rem;
  }
  .aside-menu__category-select{
    width: 10rem;
  }
}

/* *  ------------------------530px------------------------ */
@media screen and (max-width: 530px) {
  .landing__title {
    font-size: 3.2rem;
    margin-left: 1rem;
  }
  .landing__text {
    margin-left: 1rem;
  }
  .landing__image {
    width: 10rem;
    height: auto;
  }
  .login__box {
    left: 48%;
  }
  .login__box {
    width: 26rem;
  }
  .login__box-form div input {
    width: 18rem;
  }
  .login__box-login-link,
  .login__box-login-account {
    width: 14rem;
  }
  .login__box-title {
    font-size: 1.2rem;
  }

  .tab button {
    padding-left: 8rem;
  }
}

/* *  ------------------------520px------------------------ */
@media screen and (max-width: 520px) {
  .search-icons {
    flex-wrap: wrap;
  }
  .search-icons__searchbox {
    margin-bottom: 2rem;
  }
  .search-icons__input {
    margin-top: 2rem;
  }
  .search-icons__input-svg {
    top: 2.6rem;
  }
  .header-changes {
    height: 12rem;
  }
  .signin-signup {
    top: 4.8rem;
  }

  .aside-content__box {
    width: 20rem;
  }
  .aside-content__box-link {
    left: 8rem;
  }

  .tab button {
    padding-left: 7rem;
  }

  .tabcontent {
    height: 18rem;
  }
}

/* *  ------------------------500px------------------------ */
@media screen and (max-width: 500px) {
  .signup__box {
    width: 20rem;
    left: 45%;
  }
  .signup__box input {
    width: 14rem;
  }
  .signup__box-form-btn {
    width: 12rem;
  }
  .signup__box-title {
    font-size: 1.2rem;
  }
  .signup__box-login-link {
    width: 12rem;
  }
  .expreience__right-image {
    width: 22rem;
  }
  .expreience__left-title {
    font-size: 1.8rem;
  }
  .expreience__left-timer div {
    width: 2.5rem;
    height: 2.5rem;
  }

  .expreience__left-timer div span {
    font-size: 0.8rem;
  }

  .expreience__btn {
    padding: 1rem 3.2rem;
  }

  .new-arrival__right-top-image {
    width: 20rem;
  }

  .new-arrival__right-bottom {
    flex-direction: column;
    width: 100%;
  }
  .new-arrival__right-bottom__left,
  .new-arrival__right-bottom__right {
    width: 100%;
    margin-bottom: 2rem;
  }
  .main-info-text {
    width: 26rem;
  }

  .main-info-like-comment {
    margin-top: 2rem;
  }

  .dashboard-info__orders-box {
    width: 14rem;
  }

  .tab button {
    padding-left: 6rem;
  }

  .product-box__right-line svg {
    display: block;
    margin: 0 auto;
    width: 20rem;
  }

  .address-modal__top {
    flex-direction: column;
  }
  .address-modal__top-title {
    margin-bottom: 1rem;
  }



  .products-header-left-select,.aside-menu__brand-menu-select{
    width: 10rem;
  }
}

/* *  ------------------------450px------------------------ */
@media screen and (max-width: 450px) {
  .login__box {
    width: 20rem;
  }
  .login__box-form-btn {
    width: 12rem;
  }
  .login__box-form-line::before {
    width: 4rem;
    right: 4rem;
  }
  .login__box-form-line::after {
    width: 4rem;
    left: 4rem;
  }
  .login__box-form-inputbox svg {
    left: 4.2rem;
  }

  .landing__wrapper {
    margin-top: 4rem;
    padding-top: 8rem;
  }
  .landing__info {
    top: 10rem;
  }

  .aside-content__box {
    margin-left: 1rem;
  }

  .dashboard-info-boxes__account,
  .dashboard-info-boxes__address {
    width: 18rem;
  }
}

/* *  ------------------------435px------------------------ */
@media screen and (max-width: 435px) {
  .header-changes {
    height: 16rem;
  }
  .login__box-form-inputbox svg {
    left: 2.2rem;
  }
  .new-arrival__left-image {
    width: 14rem;
  }
  .new-arrival__left-infos,
  .new-arrival__right-top-infos,
  .new-arrival__right-bottom__left-infos {
    width: 14rem;
  }
  .new-arrival__left {
    height: 30rem;
  }

  .account-details-box-right__form input {
    width: 18rem;
    padding: 1rem 3rem;
  }

  .path-text {
    font-size: 1.2rem;
  }
  .form-labe,
  .account-details-box-right__form-btn {
    font-size: 1rem;
  }
  .main-info-text {
    width: 22rem;
  }

  .write-comment-textarea::placeholder {
    font-size: 1rem;
  }

  .cart__right {
    width: 18rem;
  }
  .cart__right-copoun-code input {
    width: 14rem;
  }

  .cart__right-checkout-btn {
    width: 14rem;
    font-size: 1rem;
  }
  .cart__right-delivary-title,
  .cart__right-delivary-value {
    font-size: 1rem;
  }
  .cart__box-right--info {
    width: 10rem;
  }

  .shipping-address__box__bottom-name,
  .shipping-address__box__bottom-address {
    font-size: 1rem;
  }

  .shipping-address__box-top {
    flex-direction: column;
  }
  .shipping-address__box-top-btns {
    margin: 0 auto;
  }
}

/* *  ------------------------414px------------------------ */
@media screen and (max-width: 414px) {
  .footer-top__wrapper div {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .footer-top__col5 {
    display: block;
    margin: 0 auto;
  }
  .footer-top__col5-input {
    width: 14rem;
  }
  .footer-top__col5-title {
    font-size: 1rem;
    text-align: center;
  }
  .header {
    height: 16rem;
  }

  .dashboard-info__orders-box {
    width: 10rem;
  }
}

/* *  ------------------------400px------------------------ */
@media screen and (max-width: 400px) {
  .card__left-1,
  .card__left-2 {
    height: 30rem;
  }
  .card__right-image {
    width: 14rem;
  }
  .card__left-1-info,
  .card__left-2-info {
    max-width: 12rem;
  }

  .expreience__right-image {
    width: 14rem;
  }
  .brands__title {
    width: 10rem;
  }
  .new-arrival__right-top-image {
    width: 14rem;
  }

  .product-box__right-add-to-cart-btn button {
    width: 14rem;
    font-size: 1rem;
  }
  .product-box__right-add-to-cart-btn button svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .rating__right-score-star svg {
    width: 1.4rem;
    height: 1.4rem;
  }
  .rating__left-rate-info {
    font-size: 1rem;
  }

  .rating__right {
    margin-top: 2rem;
  }

  .rating-title,
  .feedback-title {
    width: 8rem;
    font-size: 1rem;
  }

  .aside-menu{
    width: 44%;
  }

  .aside-menu__button{
    padding: 0.5rem 2rem;
    font-size: 1rem;
    height: 4rem;
  }

  .products-header__wrapper{
    padding: 1rem;
  }
}

/* *  ------------------------380px------------------------ */
@media screen and (max-width: 380px) {
  .search-icons__input {
    padding: 0.8rem 1.4rem;
  }
  .signup__box {
    margin-left: 1rem;
  }
  .aside-content__box {
    margin-left: 2rem;
  }
  .aside-content__box-link {
    left: 7rem;
  }
}

/* *  ------------------------365px------------------------ */
@media screen and (max-width: 365px) {
  .card__left-1-image,
  .card__left-2-image {
    right: 0;
    width: 14rem;
  }
  .expreience__left-timer {
    margin-left: 2rem;
  }
  .contact__left-line svg {
    width: 8rem;
  }
  .contact__right-form-tag input {
    width: 10rem;
  }

  .main-info-text {
    width: 18rem;
  }

  .cart__right {
    width: 14rem;
  }
  .cart__right-line svg {
    width: 10rem;
  }
  .cart__right-copoun-code {
    flex-direction: column;
  }
  .cart__right-copoun-code-btn {
    width: 100%;
  }
  .cart__box-right-price-left {
    flex-direction: column;
  }
  .cart__box-right-price-left-cart-counter {
    margin-bottom: 1rem;
  }

  .address-modal__form-row3-country select,
  .address-modal__form-row3-region select,
  .address-modal__form-row3-city select {
    width: 14rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
/* *  ------------------------357px------------------------ */
@media screen and (max-width: 357px) {
  .account-details-box-right__form input {
    width: 14rem;
  }

  .main-info-like-comment {
    flex-direction: column;
  }

  .dashboard-info-boxes__account,
  .dashboard-info-boxes__address {
    width: 14rem;
  }
  .dashboard-info-boxes__account-more-info-edit,
  .dashboard-info-boxes__address-infos-change {
    width: 8rem;
    font-size: 0.8rem;
  }

  .dashboard-info__orders-box {
    width: 8rem;
  }

  .path-text {
    font-size: 1rem;
  }

  .product-box__left-images-gallery img {
    width: 3.4rem;
  }
  .product-box__left-image {
    width: 14rem;
  }

  .product-box__right-price {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-box__right-org-discount {
    align-items: center;
  }
  .product-box__right-price-star-icon svg {
    width: 2rem;
    height: 2rem;
  }

  .product-box__right-add-to-cart-btn button {
    width: 12rem;
  }

  .rating__right-score-star {
    font-size: 1rem;
  }
}

/* *  ------------------------336px------------------------ */
@media screen and (max-width: 336px) {
  .signup__box {
    width: 16rem;
  }
  .signup__box input {
    width: 10rem;
  }
  .signup__box input::placeholder {
    font-size: 0.8rem;
  }
  .signup__box-form-inputbox svg {
    left: 2.2rem;
  }

  .services__box-title {
    font-size: 1rem;
  }
  .services__box-text {
    font-size: 0.9rem;
  }
  .services__box-logo-svg {
    width: 2rem;
    height: 2rem;
  }

  .aside-content__box-link {
    left: 6rem;
  }

  .product-box__right-line svg {
    display: block;
    margin: 0 auto;
    width: 2rem;
  }

  .products-header-left-select{
    width: 7rem;
  }
}

/* *  ------------------------305px------------------------ */
@media screen and (max-width: 305px) {
  .landing__title {
    font-size: 2rem;
  }
  .landing__text {
    font-size: 0.7rem;
  }
  .card__left-1-image,
  .card__left-2-image {
    right: 0;
    width: 12rem;
  }
  .card__left-1-info,
  .card__left-2-info {
    max-width: 8rem;
  }
  .expreience__left-timer {
    margin-left: 4rem;
  }
  .expreience__btn {
    font-size: 1rem;
  }
  .new-arrival__right-top-image {
    width: 10rem;
  }
  .about-us-text {
    text-align: center;
  }

  .aside-content__box-link {
    left: 4rem;
  }
  .main-info-text {
    width: 14rem;
  }
}

/* *  ------------------------294px------------------------ */
@media screen and (max-width: 294px) {
  .account-details-box-right__form input {
    width: 10rem;
    padding: 1rem 2rem;
  }
  .account-details-box-right__form-btn {
    width: 10rem;
    height: 2.8rem;
  }
  .account-details-box-right__form-country,
  .account-details-box-right__form-states {
    padding: 0.5rem 0.5rem;
  }
  .path-text {
    font-size: 1rem;
  }

  .address-modal__form-btn {
    width: 7rem;
  }

  .address-modal__form-row3-zipcode input::placeholder,
  .address-modal__form-row4-email input::placeholder,
  .address-modal__form-row4-phone input::placeholder,
  .address-modal__form-row1-username input::placeholder,
  .address-modal__form-row1-lastname input::placeholder,
  .address-modal__form-row1-lastname input::placeholder,
  .address-modal__form-row1-company input::placeholder,
  .address-modal__form-row2 input::placeholder {
    font-size: 0.8rem;
  }

  .form-label {
    font-size: 1rem;
  }
}

/* *  ------------------------240px------------------------ */
@media screen and (max-width: 240px) {
  .search-icons__input {
    width: 10rem;
  }
  .path-text {
    font-size: 1rem;
  }
}
