/*! Css Imports */
@import "./reset.css";
@import "./fonts.css";
@import "./footer.css";

/*! Css Variables */
:root {
  --white: #ffff;
  --black: black;
  --gray: #3f3f3f;
}

/*! Container Size */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/** Main Section Styles */
.main {
  background-color: #eff7fa;
}

/** Path Section Styles */

.path-text {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  display: inline-block;
  margin-top: 2rem;
}