/*! Css Imports */
@import './reset.css';
@import './fonts.css';
@import './footer.css';

/*! Css Variables */
:root{
    --white:#ffff;
    --black:black;
    --gray:#3F3F3F;
    
}

/*! Container Size */
.container {
    max-width: 1400px;
    margin: 0 auto;
}



/** Main Section Styles */






















