/*! Css Imports */
@import './reset.css';
@import './fonts.css';
@import './footer.css';

/*! Css Variables */
:root{
    --white:#ffff;
    --black:black;
    --gray:#3F3F3F;
    
}

/*! Container Size */
.container {
    max-width: 1400px;
    margin: 0 auto;
}



/** Main Section Styles */

/** Cards Section Styles */
.main__cards{
    margin-bottom: 5rem;
}
.main__cards-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.card__left{
    width: 40%;
    /* background-color: red; */
    margin-right: 10rem;
    margin-top: 2rem;
}

.card__right{
    width: 60%;
    background-color: red;
    margin-top: 2rem;
}
.card__left-1 ,.card__left-2{
    background-color:#eed19b9d;
    width: 30rem;
    height: 20rem;
    margin-top: 1rem;
    border-radius: 2rem;
    transition: all 200ms ease-in;
}

.card__left-1:hover{
    transform: scale(1.1);
}
.card__left-2{
    background-color: #af84f8ad;
    margin-top: 2rem;
}

.card__left-2:hover{
    transform: scale(1.1);
}


.card__left-1-info ,.card__left-2-info{
    display: flex;
    flex-direction: column ;
    width: 16rem;
    height: 14rem;
    padding: 2rem;
}

.card__left-1-info-title,.card__left-2-info-title{
    font-size: 2rem;
    font-family: 'kanit-bold', Courier, monospace;
}

.card__left-1-info-text,.card__left-2-info-text{
    font-size: 1rem;
    font-family: 'kanit-light', Courier, monospace;
    margin-top: 1rem;

}

.card__left-1-info-link,.card__left-2-info-link{
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    background-color: var(--gray);
    border-radius: 50%;
    margin-top: 4rem;
}

.card__left-1-info-icon ,.card__left-2-info-icon{
    width: 2rem;
    height: 2rem;
    color: var(--white);
}

.card__left-1 ,.card__left-2{
    position: relative;
}
.card__left-1-image,.card__left-2-image{
    position: absolute;
    right: 2rem;
    bottom: 0;
}



/** /////Right Card///// */

.card__right{
    position: relative;
    border-radius: 2rem;
    background-color: #B5D9FB;
    transition: all 200ms ease-in;
}
.card__right:hover{
    transform: scale(1.1);
}
.card__right-image{
    position: absolute;
    right: 0;
    bottom: 0;
}


.card__right-info{
    /* background-color: blue; */
    width: 38rem;
    height: 30rem;
    padding: 2rem;

}
.card__right-info-title{
    font-size: 4rem;
    font-family: 'kanit-bold', Courier, monospace;

}

.card__right-info-subtitle{
    font-size: 2.5rem;
    font-family: 'kanit-light', Courier, monospace;
    margin-top: 2rem;
}

.card__right-info-text{
    font-family: 'kanit-light', Courier, monospace;
    font-size: 1rem;
    margin-top: 1rem;
}

.card__right-info-link{
    display: inline-block;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 2rem;
    font-family: 'kanit-light', Courier, monospace;
    margin-top: 10rem;
}






















